<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net45" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions" version="2.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.7.485" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions.QuerySelector" version="1.1.166" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions.Shared" version="1.1.166" targetFramework="net45" />
</packages>